.numPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 20px;

    .num-button {
        display: inline-block;
        padding: 5px;
        margin: 2px; 
        font-size: 3em;
        border-radius: 15%;
        background-color: white;
        width: 50px;
        color: var(--font-color-secondary);
        text-align: center;
    }
    

}

.board-row {
    display: flex;
    flex-direction: row;
}

.tile {
    background-color: white;
    width: 80px;
    min-width: 50px;
    height: 50px;
    margin: 0px;
    text-align: center;
    font-size: 1.5em;
    border: solid 2px black;
}

.tile-selected {
    background-color: var(--font-color-secondary);
}


.main {
    background-color: var(--background-color-primary);
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;

    .off-btn {
        background-color: var(--button-deactivated);
        border-radius: 30%;
        color: white;
        width: fit-content;
        padding: 0px 5px;
        font-size: .8em;
        float: right;
    }

    .btn-disable {
        background-color: var(--button-deactivated);
    }

    .btn-enable {
        background-color: var(--button-active);
    }


    .hint-btn {
        border-radius: 50%;
        color: white;
        width: fit-content;
        padding: 0px 5px;
        font-size: .8em;
        position: relative;
        float: right;
        margin-right: 10px;
    }

    .bi-btn {
        font-size: 2em;
        text-align:center;
    }

}

.score-bar {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: var(--font-color-secondary);
}

.action-bar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    .bi-btn {
        font-size: 2em;
        padding: 2px 10px;
    }

}

.detail-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

