
<div class = "main">
    <div class = "action-bar-top">
        <div>
            <i class="bi bi-arrow-left bi-btn"></i>
        </div>

        <div> 
            <i class="bi bi-box-arrow-up-right bi-btn"></i>
            <span  (click) = "pauseClicked()">
                <i class="bi bi-pause-circle bi-btn"></i>
            </span>
            <span  (click) = "themeChooserClicked()">
                <i class="bi bi-palette bi-btn"></i>
            </span>
            <i class="bi bi-gear bi-btn"></i>
        </div>
    </div>

    <div class = "score-bar">
        Score: {{scoreVal}}
    </div>

    <div class = "detail-bar">
        <span> Mistakes: {{curMistakes}} / {{allMistakes}}</span>
        <span>{{difficulty}}</span>
        <span> {{timeMin}}:{{timeSec}}</span>
    </div>


    <div class="sudokuBoard">
        <table> 
            <div class = "board-row" *ngFor = "let row of boardMatrix; let r = index">
                <number-block [data] = "columnVal" *ngFor = "let columnVal of row" (clicked) = "numBlockClick($event)" > </number-block>
            </div>
        </table>
    </div>

    <div class = "action-bar">
        <div (click) = "undoClicked()" class = "btn-act">
            <i class="bi bi-arrow-counterclockwise bi-btn"></i>
            <p> Undo</p>
        </div>
        <div (click)="eraseClicked()">
            <i class="bi bi-eraser bi-btn"></i>
            <p> Erase</p>
        </div>
        <div (click) = "pencilClicked()">
            <div class = "off-btn" [ngClass]="pencilMode == true ? 'btn-enable' : 'btn-disable'"> {{pencilLabel}}</div>
            <div style = "text-align: center;">
                <i class="bi bi-pencil bi-btn"></i>
            </div>
            <p>Pencil</p>     
        </div>
        <div (click) = "smartHintClicked()">
            <div class = "hint-btn" [ngClass]="hintCount > 0 ? 'btn-enable' : 'btn-disable'" > {{hintCount}}</div>
            <div style = "text-align: center;">
            <i class="bi bi-lightbulb bi-btn" ></i>
            </div>
            <p> Smart Hint</p>
        </div>
    </div>
    

    <div class = "numPanel">
        <div *ngFor = "let n of possibleNumbers" class = "num-button" (click)="numButtonClick(n)"> {{n}}</div>
    </div>

    <div class = "">

        <button (click) = "solveButtonClicked()">  Solve </button>

    </div>

</div>