
<div class = "main">
    <div class = "score-board">
        <p> Score: {{scoreVal}}</p>
    </div>

    <div>
        <span> Mistakes: {{curMistakes}}/{{allMistakes}}</span>
        <span> {{difficulty}} </span>
        <span> {{timeMin}}: {{timeSec}}</span>
    </div>




    <div class="sudokuBoard">
        <table> 
            <tr *ngFor = "let row of boardMatrix">
                <td class = "tile" *ngFor = "let r of row">{{ r == 0 ? 0 : r}} </td>
            </tr>
        </table>
    </div>

    <div class = "action-bar">
        <button> Undo </button>
        <button> Erase </button>
        <button> Pencil </button>
        <button> Hint</button>
    </div>


    <div class = "numPanel">
        <div *ngFor = "let n of possibleNumbers" class = "numButton" (click)="numButtonClick(n)"> {{n}}</div>
    </div>
</div>