.block-main {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-color: var(--block-background-color-primary);
    height: 50px;
    margin: 0px;
    border: solid 2px var(--block-border-color)
}

.pencil-block {
    font-size: .6em;
    text-align: left;
    padding-left: 10px;
    height: 1.2em;
}

.value-block {
    line-height: 20px;
    font-size: 2em;
    text-align: center;
}

// case where the user supplies a faulty value
.error {
    background-color: red;

}

.selected {
    background-color: var(--block-background-color-selected);
}

// section which is selected
.selected-block {
    background-color: var(--block-section-background-color);
}