
<div class = "msg-dialog-main">

    <div *ngIf = "data.pause">
        <div>Pause</div>
        <div>
            <span>
                <p> Time </p>
                <p> {{data.pause.minStr}} : {{data.pause.secStr}}</p>
            </span>

            <span>
                <p> Difficulty</p>
                <p> {{data.pause.difficulty}} </p>
            </span>
        </div>

        <div>
            <button class = "btn btn-primary" (click) = "resumeClicked()"> 
                Resume
            </button>

            <button class = "btn" (click) = "restartClicked()">
                Restart
            </button>
        </div>

    </div>

    <div *ngIf = "data.theme" class = "theme-main">
        <h4> Pick Theme Color</h4>
        <div>
            <!-- <span class = "white-theme theme-button" (click) = "themeChosen('white')" [ngClass] = "themeChoice == 'white'? 'selected' : ''"> </span> -->
            <span class = "yellow-theme theme-button" (click) = "themeChosen('yellow')" [ngClass] = "themeChoice == 'yellow' ? 'selected' : ''" > </span>
            <span class = "dark-theme theme-button" (click) = "themeChosen('dark')" [ngClass] = "themeChoice == 'dark' ? 'selected' : ''"> </span>
            <!-- <span class = "blue-theme theme-button" (click) = "themeChosen('blue')" [ngClass] = "themeChoice == 'blue' ? 'selected' : ''"> </span> -->
        </div> 

        <button class = "btn btn-primary" (click) = "doneClicked()"> Done </button>
    </div>
</div>